<link rel="stylesheet" href="/css/header.css">

<header>
    <!-- brand logo -->
    <a href="/">
        <div class="brand">
            Tv Shows
        </div>
    </a>
<!-- search bar -->
    <nav class="nav-top"> 
            <form action="/" method="post">
                <input class="form-control" name="search" type="text" placeholder="Search..">
                <button class="button">Go!</button>
            </form> 
    </nav>
</header>