.episodes_container {
    height: auto;
    padding: 150px 50px;
}

.back_to_seasons {
    position: absolute;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.678);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.5s;
}

.back_to_seasons:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.2);
    border-radius: 20px;
}

.to_episode_details {
    color: rgba(216, 171, 171, 0.733);
    margin-right: 20px;
    border-bottom: 1px solid white;
}

.to_episode_details:hover {
    color: white;
}

.episode {
    font-size: 2rem;
    width: 70%;
    margin: 20px auto;
    box-shadow: 4px 10px 10px black;
    display: flex;
}

.episode_image {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.no_image {
    width: 250px;
    height: 150px;
    padding: 30px;
}

.episode_info {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
}

.episode_title {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.epp_t {
    font-size: 0.7rem;
}

.episode_title p:first-child {
    padding-left: 10px;
}

.episode_title div:last-child {
    display: flex;
    font-size: 1.2rem;
}

.episode_description {
    padding: 15px;
    margin: 5px;
    font-size: 0.8rem;
    background-color: white;
    color: black;
    height: initial;
    border-radius: 10px;
    box-shadow: 0px 5px 5px white;
}

.no_episodes {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;

}

.no_episodes p {
    background-color: rgba(0, 0, 0, 0.664);
    padding: 10px;
    border-radius: 20px;
}

@media screen and (max-width: 565px) {

    .back_to_seasons {
        top: 140px;
        font-size: 0.7rem;
        width: inherit;
        margin: auto;
    }

    .episode {
        font-size: 1rem;
        width: 100%;
        margin: 60px auto;
        flex-direction: column;
    }

    .episode_image {
        min-height: 100px;
        min-width: 100px;
    }

    .episode_title {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }

    .episode_title p:first-child {
        font-size: 1rem;
    }

    .episode_title div:last-child {
        flex-direction: column;
        font-size: 0.7rem;
    }

    .episode_description {
        padding: 10px;
        font-size: 0.6rem;
    }

    .no_episodes {
        font-size: 1rem;
    }

    .to_episode_details {
        font-size: 0.7rem;
    }

    .se {
        font-size: 1.2rem;
    }

}